.carousel {
  width: 23rem;
  height: 23rem;
  perspective: 500px;
  transform-style: preserve-3d;
  margin: auto;
  max-width: calc(100% - 2em);
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
}

.carousel .card-container {
  position: absolute;
  width: 100%;
  height: auto;
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--offset) / var(--abs-offset) * -5rem));
  transition: all 0.3s ease-out;
}

.carousel .card-container .card {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  color: #5a5e64;
  text-align: justify;
  transition: all 0.3s ease-out;
}

.carousel .card-container .card p,
.carousel .card-container .card h2 {
  transition: all 0.3s ease-out;
  opacity: var(--active);
}

.carousel .nav {
  color: var(--background-primary);
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  font-size: 4em;
}

.carousel .nav.left {
  transform: translateX(-120%) translatey(-50%);
}

.carousel .nav.right {
  right: 0;
  transform: translateX(120%) translatey(-50%);
}

@media screen and (max-width: 980px) {
  .carousel {
    max-width: 100%;
  }

  .carousel .nav {
    font-size: 3rem;
  }

  .carousel .nav.left {
    transform: translateX(-0.5em) translatey(-50%);
  }

  .carousel .nav.right {
    transform: translateX(0.5em) translatey(-50%);
  }
}
