/* -------------------------------- SECCION FOUR WORK ---------------------------------- */
.section-container .s5 {
  background-color: var(--background-primary);
  overflow: hidden;
}

.section-container .s5 .s5-container {
  padding: 2em;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: -2;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
}

.section-container .s5 .s5-container .s5-content {
  margin-top: 3em;
  max-height: 100%;
  width: 100%;
}

.section-container .s5 .s5-container .s5-content h3 {
  font-size: 1.75em;
  position: relative;
  z-index: 6;
  margin: auto;
  display: inline-block;
  margin-bottom: 0.5em;
}

.section-container .s5 .s5-container .s5-content p {
  font-size: 1.2em;
  font-weight: 400;
}

.section-container .s5 .s5-container .container-form {
  width: 50%;
  height: calc(100% - 6em);
  padding: 1em;
  max-width: 600px;
}

.section-container .s5 .s5-container .container-form form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.section-container .s5 .s5-container .container-form form .container-inputs {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  & li {
    list-style: none;
    width: 100%;
    margin-bottom: 0.5em;
    overflow: hidden;
    position: relative;
  }

  & li.width-middle {
    width: calc(50% - 0.25em);
  }

  & li input,
  & li textarea {
    padding: 1em 2em;
    border: none;
    position: relative;
    background: var(--background-secondary);
    width: 100%;
    color: var(--color-text-primary);
    font-size: 1em;
    font-weight: 700;
    font-family: 'Gotham', sans-serif;
  }

  & input::placeholder,
  & textarea::placeholder {
    color: var(--color-text-primary);
  }

  & .input-message {
    resize: none;
  }

  & > li label::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    transition: all 0.3s ease-in-out;
    transform: translate(-110%, 0);
    z-index: 1;
  }

  & > li input:focus ~ label::before,
  & > li textarea:focus ~ label::before {
    transform: translate(0, 0);
  }

  & input:focus,
  & textarea:focus {
    outline: none;
  }

  & input:focus-visible,
  & textarea:focus-visible {
    outline: none;
  }

  & input:-webkit-autofill,
  & textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--background-secondary) inset;
    -webkit-text-fill-color: var(--color-text-primary);
    box-shadow: 0 0 0px 1000px var(--background-secondary) inset;
  }
}

.section-container .s5 .s5-container form button {
  background: var(--background-primary);
  padding: 1em 2em;
  position: relative;
  margin: 0 auto;
  margin-top: 1em;
  outline: none;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1em;
  max-width: 100%;
  width: auto;
  letter-spacing: 4px;
  -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.5s both;
  animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: var(--color-primary);
    background: linear-gradient(
      117deg,
      var(--color-primary) 85%,
      rgba(0, 0, 0, 0) 80%
    );
    -webkit-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
    transform: translate(-100%, 0);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-primary);
    z-index: -2;
    opacity: 0;
  }

  &:hover:after {
    transform: translate(0, 0);
  }

  &:hover:before {
    opacity: 1;
  }

  &:hover {
    color: var(--background-primary);
    background-color: transparent;
  }
}

.section-container .s5 .s5-container .container-contacts {
  width: 30%;
  height: calc(100% - 6em);
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 3em;
  justify-content: center;
}

.section-container .s5 .s5-container .container-contacts .contact-item {
  min-height: 2em;
}

.section-container .s5 .s5-container .container-contacts .contact-item svg {
  width: 1em;
  fill: var(--color-text-primary);
}

.section-container .s5 .s5-container .container-contacts .contact-item-group {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-content: center;
  align-items: center;
}

.section-container
  .s5
  .s5-container
  .container-contacts
  .contact-item-group
  svg {
  width: 2em;
  fill: var(--color-text-primary);
}

.section-container .s5 .circle {
  &::before {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(100% - 200px);
    z-index: -7;
    -webkit-clip-path: polygon(
      0% 50%,
      25% 95%,
      75% 95%,
      100% 50%,
      75% 5%,
      25% 5%
    );
    clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
    background: var(--background-secondary);
  }
}

.section-container .s5 .form-messages {
  font-size: 0.8em;
  font-weight: 300;
}

.section-container .s5 .form-messages a {
  color: var(--color-primary);
}

.container-message-contact {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #00000090;
  backdrop-filter: blur(2px);
}

.container-message-contact.active {
  display: flex;
}

.container-message-contact .message-contact {
  max-width: 350px;
  height: 289px;
  background: var(--background-tertiary);
  width: calc(100% - 2em);
  border-radius: 5px;
  text-align: center;
  padding: 3em 1em 1em 1em;
  position: relative;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.container-message-contact .message-contact h3 {
  font-size: 2em;
  font-weight: 500;
  margin-top: 1em;
}

.container-message-contact .message-contact p {
  font-size: 1.15em;
}

.container-message-contact .message-contact button {
  background: var(--background-primary);
  padding: 1em 2em;
  position: relative;
  margin: 0 auto;
  outline: none;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1em;
  max-width: 100%;
  width: 100%;
  letter-spacing: 4px;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: var(--color-primary);
    background: linear-gradient(
      117deg,
      var(--color-primary) 85%,
      rgba(0, 0, 0, 0) 80%
    );
    -webkit-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
    transform: translate(-100%, 0);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-primary);
    z-index: -2;
    opacity: 0;
  }

  &:hover:after {
    transform: translate(0, 0);
  }

  &:hover:before {
    opacity: 1;
  }

  &:hover {
    color: var(--background-primary);
    background-color: transparent;
  }
}

.container-message-contact .icon-message-contact {
  width: 100px;
  height: 100px;
  display: none;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
}

.container-message-contact .icon-message-contact.active {
  display: block;
}

span.icon-message-contact:before {
  content: '';
  display: block;
  background: var(--background-primary);
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 0;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
}

.container-message-contact .icon-message-contact svg {
  fill: var(--color-primary);
  border-radius: inherit;
  width: 100px;
  position: relative;
}

@media screen and (max-width: 980px) {
  .section-container .s5 .s5-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-container .s5 .s5-container .s5-content {
    margin: 1em 0;
  }

  .section-container .s5 .s5-container .s5-content h3 {
    font-size: 1.5em;
  }

  .section-container .s5 .s5-container .s5-content p {
    font-size: 1em;
  }

  .section-container .s5 .s5-container .container-form {
    width: 100%;
    padding: 0;
  }

  .section-container .s5 .s5-container .container-contacts {
    width: 100%;
    padding: 0;
    margin-top: 2em;
  }
  .section-container .s5 .s5-container .container-form form .container-inputs {
    & li input,
    & li textarea {
      padding: 1em;
    }
  }
}
