/* -------------------------------- HEADER ---------------------------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 2em;
}

header .container-header .header {
  position: relative;
}

header .container-header .header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

header .container-header .header ul li a {
  border-radius: 5px;
  padding: 0.5em 1em;
  transition: background 0.3s ease-in-out;
  position: relative;
  opacity: 0.8;
}

header .container-header .header ul li.active a {
  opacity: 1;
}

header .container-header .header ul li a {
  text-decoration: none;
  color: var(--color-text);
}

header .container-header .header .menu {
  display: none;
}

header .container-header .header .menu > span > * {
  fill: var(--color-text-primary);
  width: 60%;
}

header .container-header .header .line-active {
  position: absolute;
  height: 2px;
  background-color: var(--color-primary);
  top: 100%;
  left: 0%;
  transform: translateX(20.5px);
  width: 41px;
}

header .container-header .header .menu > * {
  width: 3em;
  height: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000094;
  color: var(--color-text-primary);
}

header .container-header .header .menu > * > i {
  transform: scale(2) translate(4%, 0%);
}

header .container-header .header .menu > *:hover {
  background-color: var(--color-primary);
  color: var(--background-primary);
}

header .container-header .header ul li a {
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

header .container-header .header ul li:hover a {
  color: var(--color-text-primary);
  opacity: 1;
}

@media screen and (max-width: 980px) {
  header .container-header {
    padding: 1em;
  }
  header .container-header .header ul {
    display: none;
  }

  header .container-header .header .menu {
    display: flex;
  }

  header .container-header .header .menu > * {
    display: none;
  }

  header .container-header .header .menu > *.active {
    display: flex;
  }

  header .container-header .header .line-active {
    display: none;
  }
}
