/* -------------------------------- SECCION ONE HOME ---------------------------------- */
  .section-container .s1{
    transform: translateY(0px);
    background-color: var(--background-primary);
    overflow: hidden;
    z-index: 1;
    visibility: visible;
  }
  
  .section-container .s1 .s1-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1em 3.5em;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: -2;
  }

  .section-container .s1 .s1-container button {
      background: #181818;
      padding: 1em 2em;
      position: relative;
      margin: 2em 0 0 1em;
      outline: none;
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
      cursor: pointer;
      font-size: 1em;
      max-width: 100%;
      width: auto;
      letter-spacing: 4px;
      -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
      animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
      overflow: hidden;

      &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
        background: var(--color-primary);
        background: linear-gradient(117deg, var(--color-primary) 90%, rgba(0,0,0,0) 90%);
        -webkit-transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        z-index: -1;
        transform: translate(-100%, 0);
      }

      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--background-primary);
        z-index: -2;
        opacity: 0;
      }

      &:hover:after{
        transform: translate(0, 0);
      }

      &:hover:before{
        opacity: 1;
      }

      &:hover{
        color: #181818;
        background-color: transparent;
      }
  }

  
    

  .section-container .s1 .s1-title{
    z-index: -4;
    position: relative;
    max-width: 100%;
    margin: 4em 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
  }

  .section-container .s1 .s1-title > *{
    line-height: 1em;
  }
  
  .section-container .s1 .s1-title h1{
    font-size: 5em;
    text-align: left;
    -webkit-animation: bounce-in-top 1.1s both;
              animation: bounce-in-top 1.1s both;
  }
          
  .section-container .s1 .s1-title h2{
    font-size: 4em;
    text-align: left;
    -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
  }
  
  .section-container .s1 .s1-title h3{
    text-align: left;
    padding: 0 0.1em;
    -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
    animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #0dac5400;
    -webkit-text-stroke-color: var(--color-text-primary);
    -webkit-animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
    animation: slide-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
    font-size: 2em;
    letter-spacing: 3px;
    line-height: 1.5em;
    &:hover{
      -webkit-text-stroke-width: 0;
      -webkit-text-fill-color: currentColor;
      -webkit-text-stroke-color: transparent;
      color: var(--color-text-primary);
    }
  }
  
  
  .scroll{
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    position: absolute;
    top: calc(100% - 9.5em);
    left: 0.25em;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5em;
    animation: scroll-1 4s ease-in-out infinite both;
  }

  .background-middle{
    position: absolute;
    top: 14%;
    left: 0%;
    width: 89%;
    height: 74%;
    background: #141a22;
    z-index: -3;
    background: rgb(2,236,3);
    background: linear-gradient(
117deg
, rgba(2,236,3,1) 23%, rgba(20,26,34,1) 21%, rgba(0,0,0,1) 76%, rgba(9,9,121,1) 75%, rgb(2 236 3) 59%, rgb(2 236 3) 80%, rgba(255,255,255,0) 7%);
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 11px 19px 9px rgba(0, 0, 0, 1));
  }
  
  @media screen and (max-width: 980px){
    .section-container .s1{
      position: relative;
    }
    .section-container .s1 .s1-container{
      padding: 1em;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .section-container .s1 .s1-title {
      z-index: -4;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin-top:3em;
    }

    .section-container .s1 .s1-title > * {
      line-height: 1.25em;
    }

    .section-container .s1 .s1-title h1{
      text-align: center;
      font-size: 2.3em;
    }
    .section-container .s1 .s1-title h2{
      font-size: 1.8em;
      text-align: center;
    }
    .section-container .s1 .s1-title h3{
      font-size: 1.5em;
      text-align: center;
    }

    .section-container .s1 .s1-container button{
      margin:2em 0 0 0;
      font-size: .8em;
      font-size: 1em;
    }
  }
  