:root {
    --time-animation: 0.5s;
    -ms-overflow-style: none;
    --max-width: 1250px;
    --color-primary:#08fd97;
    --color-secondary:#fd076d;
    --color-text-primary: #fff;
    --color-text-secondary: rgb(0, 0, 0);
    --color-stick-active: #bef0ff;
    --background-primary:#181818; 
}
  
  html {
    scrollbar-width: none;
  }

  *,*:before,*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden scroll;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--background-primary);
  }

/* -------------------------------- SCROLL FULLPAGE ---------------------------------- */
body::-webkit-scrollbar {
  display: none;
}

.section-container {
  width: 100%;
  height: calc(100vh * 3);
  position: relative;
}

.section-container .section-stick {
  margin: auto;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
}

.section-container .section-stick .stick,
.section-container .section-stick .active {
  width: 13px;
  height: 62px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.section-container .section-stick .stick {
  position: relative;
  background-color: var(--color-3);
  transition: all var(--time-animation) ease-in-out;
}

.section-container .section-stick .active {
  position: absolute;
  background-color: var(--color-stick-active);
  box-shadow: 0px 0px 12px 1px var(--color-stick-active);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.section-container section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text-primary);
  font-weight: 600;
  transform: translateY(100vh);
  transition: transform var(--time-animation) ease-in-out;
  z-index: 0;
  visibility: hidden;
}

.section-container .s1 {
  z-index: 4;
  visibility: visible;
}


/* -------------------------------- SWITCH CHANGE THEME -------------------------*/
.theme-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.theme-container #theme-switch{
  display: none;
}

.theme-container .theme-content{
  height: 50px;
  width: 90px;
  background-color: #c7d3d3;
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.theme-container .theme-circle{
  height: 42px;
  width: 42px;
  margin-left: 4px;
  background-color: #f5f5f5;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.theme-container #theme-switch:checked + label {
  background-color: #00c0c0

}

.theme-container #theme-switch:checked + label .theme-circle{
  transform: translateX(40px);

}

.theme-container .icon-theme-container .theme-light{
  cursor: pointer;
  transform: translateX(55px);
  color: #8a8a8a;
  font-size: 30px;
  display: inline-block;
}

.theme-container .icon-theme-container .theme-dark{
  cursor: pointer;
  transform: translateX(-55px);
  color: #f5f5f5;
  font-size: 30px;
  display: inline-block;
}

#theme-switch:checked ~ .icon-theme-container .theme-light{
  color: #414141;
}

#theme-switch:checked ~ .icon-theme-container .theme-dark{
  color: #b4b4b4;
}

.theme-container .hand{
  width: 50px;
  position: absolute;
  height: 28px;
  top: 50%;
  background: #b38127;
  left: calc(100% - 50px);
  transform: translate(20%, -50%);
  border-radius: 7px 15px 15px 7px;
}

.theme-container .hand .palm{
  content: '';
  position: absolute;
  width: 13px;
  height: 15px;
  background: #ffca93;
  border-radius: 50%;
  left: 100%;
  top: 50%;
  transform: translate(-175%,-50%);
}

.theme-container .fingers{
  position: absolute;
  background: #b38127;
  border-radius: 15px;
  width: 0px;
  height: 60%;
  top: 9px;
  left: 100%;
  transform: translate(calc(-100% - -25px), 0px);
  z-index: 4;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes scroll-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes scroll-1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

.grate{
  width: calc(100% - 4em);
  position: absolute;
  height: 0%;
  border: 3px solid #eaeaea;
  border-top: none;
  z-index: -2;
  border-bottom: none;
  // opacity: 0;
}

.grate::after{
  /* content: ''; */
  position: absolute;
  top: -130%;
  left: 0%;
  width: 100%;
  height: 46px;
  border: 3px solid #eaeaea;
}


.glitch {
  font-size: 5em;
  &:before,
  &:after{
    content: attr(data-text-glitch);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    display:none;
  }
  &:after {
    color: var(--color-secondary);
    z-index: -2;
  }
  &:before {
    color: var(--color-primary);
    z-index: -1;
  }
  &:hover {
    &:before {
      display: block;
      animation: glitch-left .3s cubic-bezier(.25, .46, .45, .94) both infinite
    }
    &:after {
      display: block;
      animation: glitch-left-2 .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
  }
}

@keyframes glitch-small {
    0% {
        transform: translate(0)
    }
    33% {
        transform: translate(2px, 1px)
    }
    66% {
        transform: translate(-1px, -1px)
    }
    to {
        transform: translate(0)
    }
}
@keyframes glitch-medium {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-2px, 2px)
    }
    40% {
        transform: translate(-2px, -2px)
    }
    60% {
        transform: translate(2px, 2px)
    }
    80% {
        transform: translate(2px, -2px)
    }
    to {
        transform: translate(0)
    }
}
@keyframes glitch-left {
    0% {
        transform: translate(0)
    }
    33% {
        transform: translate(-5px, 3px)
    }
    66% {
        transform: translate(5px, -3px)
    }
    to {
        transform: translate(0)
    }
}
@keyframes glitch-left-2 {
    0% {
        transform: translate(0)
    }
    33% {
        transform: translate(-5px, -3px)
    }
    66% {
        transform: translate(5px, 2px)
    }
    to {
        transform: translate(0)
    }
}